<div class="container">
    <mat-card class="mt-5 " style=" max-width: 370px; margin-left: auto; margin-right: auto;">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <mat-card-title class="text-center mt-2">Login</mat-card-title>
            <div class="w-100 mt-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your email id</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-hint class="mb-4 text-end w-100" style="font-size: 14px;"
                    *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].errors?.['required']">
                    Please enter email address!
                </mat-hint>
                <mat-hint class="mb-4 text-end w-100" style="font-size: 14px;"
                    *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].errors?.['email']">
                    Please enter valid email id!
                </mat-hint>
            </div>
            <div class="w-100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-hint class="mb-4 text-end w-100" style="font-size: 14px;"
                *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].errors?.['required']">
                Please enter password!
            </mat-hint>
            <mat-hint class="mb-4 text-end w-100" style="font-size: 14px;"
                *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].errors?.['minlength'] || signInForm.controls['password'].errors?.['maxlength']">
                password must be greater than 3 or less than 11!
            </mat-hint>

            </div>

         
            <div class="text-center">
                <button  mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
                <button  mat-raised-button color="primary" (click)="clearForm()" style="margin-left: 10px;"> Reset</button>
            </div>
        </form>
        <div class="form-text text-muted mt-4 text-center">
            Need an account? <a  routerLink="/signup" >SignUp</a>
        </div>
    </mat-card>
</div>